body{
  margin: 0;
}

.box{
  height: 200px;
  width: 100%;
  background-color: blue;
  font-family: sans-serif;
  padding: 4rem;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 260px;
  background-position: 90%;
  background-position-y: -25px;
}

img{
  width: 5rem;
  height: 5rem;
  border: 5px solid white;
  border-radius: 100%;
}
img+img{
  margin: -3px;
}
.box span{
  vertical-align: 41px;
  font-size: 18px;
}

.box h2{
  font-size: 2rem;
}